.container-btn {
	display: flex;
	justify-content: space-around;
	max-width: 509px;
	width: 100%;
	padding: 16px;
	border: solid 1px grey;


color: rgb(162, 162, 162);
font-family: HK Grotesk;
font-size: 14px;
}

.active-btn {
	background-color: red;
}


button:disabled {
	opacity: 0.6;
	cursor: initial;
}